body {
  font-family: 'Open Sans Condensed', sans-serif;
}

.head {
  margin-top: 10px;
  text-transform: uppercase;
  background-color: #1A1B1F; 
}

.head h1 {
  color: #fff;
}
.random-button {
  margin-top: 30px;
}

.random-button .random {
  width: 100%;;
  height: 100%;
  font-size: 6vw;
}

.tweet .tweetbtn {
  margin-top: 30px;
  width: 50%;
  height: 100%;
  font-size: 1.5em;
}

footer {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #888;
}

footer span {
  font-family: 'Open Sans Condensed';
}

.xkcd {
  margin-top: 30px;
}
